<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Создать папку" onclick="create_mathattr_folder()" id="create_source_folder_button"><i class="fas fa-folder"></i></button>
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Создать атрибут" onclick="create_mathattr()" id="create_source_folder_button"><i class="fas fa-circle"></i></button>
</div>
<label id="parent_folder" value="" hidden>Корневой каталог</label>
<br><br>