<a data-toggle="collapse" href="#sol_pics_link" aria-expanded="false" aria-controls="sol_pics_link">Рисунки</a>
<div class="collapse" id="sol_pics_link">

Вставить рисунок:<br>
@ bimg @ path_to_picture @ size=170 @ style=display: block; margin-left: auto; margin-right: auto; @ eimg @ (без пробелов)
<br><br>
<table class="table table-bordered">
    <tr>
        <td>Условие рисунком:</td>
        <td>{% if task.pic_task %}{{ task.pic_task.url }}{% else %}не загружен{% endif %}</td>
        <td>{% if task.mpfile_task %}<a href="{{ task.mpfile_task.url }}">mpfile1</a>{% else %}не загружен{% endif %}</td>
        <td>{% if task.pic_task %}<img src="{{ task.pic_task.url }}" width="100">{% else %}не загружен{% endif %}</td>
    </tr>
    <tr>
        <td>Рис1.:</td>
        <td>{% if task.pic1 %}{{ task.pic1.url }}{% else %}не загружен{% endif %}</td>
        <td>{% if task.mpfile1 %}<a href="{{ task.mpfile1.url }}">mpfile1</a>{% else %}не загружен{% endif %}</td>
        <td>{% if task.pic1 %}<img src="{{ task.pic1.url }}" width="100">{% else %}не загружен{% endif %}</td>
    </tr>
    <tr>
        <td>Рис2.:</td>
        <td>{% if task.pic2 %}{{ task.pic2.url }}{% else %}не загружен{% endif %}</td>
        <td>{% if task.mpfile2 %}<a href="{{ task.mpfile2.url }}">mpfile1</a>{% else %}не загружен{% endif %}</td>
        <td>{% if task.pic2 %}<img src="{{ task.pic2.url }}" width="100">{% else %}не загружен{% endif %}</td>
    </tr>
</table>
</div>