<div class="form-group">
    <form method="post">
        {% csrf_token %}
        Название:<br>
        {{ solform.name }}<br>
<!--        <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Вставить рисунок" onclick="typeInTextarea($('#id_body'), '@bimg@path_to_picture@size=170@style=display: block; margin-left: auto; margin-right: auto;@eimg@')" id="insert_pic_button"><i class="fas fa-image"></i></button><br> -->
                   <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="insert_pic_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Вставить рисунок в решение
                        </button>
                        <div class="dropdown-menu" aria-labelledby="insert_pic_button">
                            {% for si in sol_images %}
                                <a class="dropdown-item" onclick="typeInTextarea($('#id_body'), '@bimg@{{ MR }}{{ si.image }}@size=170@style=display: block; margin-left: auto; margin-right: auto;@eimg@')" href="#">{{ si.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <input type="button" class="btn btn-primary" id="task_upload_btn" value="Загрузить рисунок для решения" onclick='location.href ="{% url 'sol_image_upload' sol.id %}"'><br><br>

        Решение:<br>
        {{ solform.body }}<br>
        <input type="button" class="btn btn-primary" value="Cохранить" onclick="save_solution(solid)"><br>
    </form>
</div>