<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кот</title>

    {% include "head_script.html" %}
{#     <script src="{{ path.PROJECT_STATIC }}Edit_MathAttribute_Catalog/js/create_mathattr.js?v"></script>#}
    {# it is needed to see jstree context menu in modal #}
{#    <script src="{{ path.PROJECT_STATIC }}BelovedCat/questions.js"></script>#}

</head>

    <body>

        {% include "navbar.html" %}

  <div class="container" style="overflow-x: auto">
  Любимый котик!!
      <img src="../../static/images/icons/cat.png"><br>
      Теперь на этом сайте всегда есть место для любимого котика :))<br>
      С днем рождения!<br>
      (Тебе привет от Тильдония)<br>
      <img src="../../static/images/icons/belovedcat.jpg" width="40%"><br>
  </div>


</body>
</html>