<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>Title</title>

    {% include "head_script.html" %}

    <script src="{{ path.PROJECT_STATIC }}Full_Search/js/show_tasks.js?v"></script>
    <script src="{{ path.PROJECT_STATIC }}Full_Search/js/find_task_by_id.js?"></script>



    <script src="{{ path.PROJECT_STATIC }}Solution_Catalog/js/common/enable_disable_elements.js?v"></script>

    {% block choose_target_folder_tree %}
        <script src="{{ path.PROJECT_STATIC }}Solution_Catalog/js/view_user_catalog/choose_target_folder_tree.js?vd"></script>
    {% endblock %}

    <script src="{{ path.PROJECT_STATIC }}Solution_Catalog/js/common/copy_move_remove_task_or_solution.js?v"></script>
    <script src="{{ path.PROJECT_STATIC }}Solution_Catalog/js/common/global_vars.js?fdfv"></script>

    <script src="{{ path.PROJECT_STATIC }}Solution_Catalog/js/common/edit_user_catalog.js?v"></script>


    {# it is needed to see jstree context menu in modal #}
    <style> .vakata-context {z-index:1100 !important;} </style>


</head>
<body>

{#{% include "navbar.html" %}#}
{% if user.is_authenticated %}
{% include "Solution_Catalog/common/page/inc_choose_target_folder_modal.html" %}
{% endif %}
{#{% include "Solution_Catalog/common/page/inc_add_attribute_modal.html" %}#}
{#{% include "Solution_Catalog/common/page/inc_export_modal.html" %}#}


{% include "inc_sidebar_begin.html" %}
<div class="container-fluid" style="overflow-x: auto">
<div class="row">
    <div class="col-auto">
        <button class='btn btn-primary btn-xs' onclick="hide_left_panel()"><i class="fas fa-bars"></i></button>
        <div style="background: #e4e3f9; border-radius: 5px; padding: 15px; border-width: 1px; border-style:solid; border-color: #b8b7cc" id="left_panel">
    {#        <div class="row">#}
        <div class="col-auto mr-3">
            Найти задачу по номеру:
            <input type="text"  style="width: 6em;" id="find_by_task_id_input" onkeydown="if (event.keyCode === 13){$('#find_task_by_id_input').click()}">
            <a href="#" data-toggle="tooltip" title="Найти задачу">
                <button onclick="find_task_by_id(1)" class="btn btn-link" id="find_task_by_id_input">
                    <i class="fas fa-search"></i>
                </button>
            </a>
    {#        </div>#}
    {#        </div>#}
        <hr>
    {#        <div class="col-auto">#}
            <br>
            <p>Все атрибуты для поиска:</p>
            <div id="attr_tree">te</div>
            <br>
            <hr>
            <p>Текущий поисковый запрос:</p>
            {% include "Full_Search/common/inc_filter_buttons.html" %}
            <div id="filter_tree">test</div>
            <br>
            <hr>
            <p>Атрибуты, которые есть в найденных задачах:</p>
            <div id="mathattr_in_filter_tree">Задачи ещё не загружены</div>
            <br>
        </div>
        </div>
    </div>
    <div class="col">
        <div id="table_of_tasks"></div>
    </div>

    </div>
</div>
{% include "inc_sidebar_end.html" %}

    <script src="{{ path.PROJECT_STATIC }}Full_Search/js/filter_tree_plugins.js?ad"></script>
    <script src="{{ path.PROJECT_STATIC }}Full_Search/js/filter_tree_actions.js?va"></script>

    <script src="{{ path.PROJECT_STATIC }}Full_Search/js/attr_tree.js?vds"></script>
    <script src="{{ path.PROJECT_STATIC }}Full_Search/js/filter_tree.js?dad"></script>
    <script src="{{ path.PROJECT_STATIC }}Full_Search/js/mathattr_in_filter_tree.js?jd"></script>


</body>
</html>
