<!-- Modal -->
<div class="modal fade" id="change_test_folder_modal" tabindex="-1" role="dialog" aria-labelledby="change_test_folder_ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="change_test_folder_ModalLabel">Выберите папку для теста</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div id="choose_target_test_folder_tree"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change_test_folder_modal" onclick="move_test_to_another_folder()" id="confirm_button">Переместить тест</button>
     </div>
    </div>
  </div>
</div>