<!-- Modal -->
<div class="modal fade" id="create_test_modal" tabindex="-1" role="dialog" aria-labelledby="create_test_ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create_test_ModalLabel">Введите название и комментарий к работе</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div id="test_folder_tree"></div>
            <hr>
            Название теста:<br>
            <input type="text"  class="form-control" id="test_name"><br>
            Комментарий:<br>
            <textarea class="form-control" rows="5" id="test_comment"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_test_modal" onclick="create_test_from_many_folders()" id="confirm_button">Создать работу</button>
     </div>
    </div>
  </div>
</div>